In [1]:
import glob
import os
import pandas as pd

In [2]:

folderPath = "C:\\Users\\zhaobang\\OneDrive\\桌面\\天気データ20220725"
all_files = glob.glob(os.path.join(folderPath, "*.csv"))
df = pd.concat((pd.read_csv(f, encoding="shift-jis") for f in all_files), axis=1)

In [3]:
df = df.loc[:,~df.columns.duplicated()]

In [4]:
df.head()

,date,atemperature,sunshine,htemperature,ltemperature,sonw(accumulated),snow,windSpeed(m/s),humidity(%)
0,2009/1/1,2.5,2.4,4.8,-0.6,28,0,3.9,74
1,2009/1/2,0.8,4.1,4.0,-2.6,24,1,2.2,72
2,2009/1/3,0.9,0.4,2.7,-0.2,24,2,3.6,73
3,2009/1/4,-1.1,0.8,0.8,-3.8,26,4,3.5,62
4,2009/1/5,-3.6,4.4,-1.3,-5.3,30,7,4.6,66

In [5]:
# Change it to a specific order, because we rearraged those coulums
# date,atemperature,ltemperature,sunshine,sonw(accumulated),htemperature,snow,windSpeed(m/s),humidity(%)
cols = ['date', 'atemperature', 'ltemperature', 'sunshine', 'sonw(accumulated)', 'htemperature', 'snow', 'windSpeed(m/s)', 'humidity(%)']

In [6]:
df_rearranged = df.copy()[cols]

In [7]:
df.head()

,date,atemperature,sunshine,htemperature,ltemperature,sonw(accumulated),snow,windSpeed(m/s),humidity(%)
0,2009/1/1,2.5,2.4,4.8,-0.6,28,0,3.9,74
1,2009/1/2,0.8,4.1,4.0,-2.6,24,1,2.2,72
2,2009/1/3,0.9,0.4,2.7,-0.2,24,2,3.6,73
3,2009/1/4,-1.1,0.8,0.8,-3.8,26,4,3.5,62
4,2009/1/5,-3.6,4.4,-1.3,-5.3,30,7,4.6,66

In [8]:
df_rearranged.head()

,date,atemperature,ltemperature,sunshine,sonw(accumulated),htemperature,snow,windSpeed(m/s),humidity(%)
0,2009/1/1,2.5,-0.6,2.4,28,4.8,0,3.9,74
1,2009/1/2,0.8,-2.6,4.1,24,4.0,1,2.2,72
2,2009/1/3,0.9,-0.2,0.4,24,2.7,2,3.6,73
3,2009/1/4,-1.1,-3.8,0.8,26,0.8,4,3.5,62
4,2009/1/5,-3.6,-5.3,4.4,30,-1.3,7,4.6,66

In [36]:
df_rearranged.to_csv("./raw_data/merged_weatherdata_20220725.csv", index=False)